include LICENSE
include README.md
include MANIFEST.in
include Vagrantfile
include *.ini *.conf *.cfg

recursive-include docs *
recursive-include tests *
recursive-include provision *

recursive-exclude .vagrant
recursive-exclude * *.py[co]
recursive-exclude * __pycache__

prune docs/_build
